# Modeling_exercises

Do your work for this exercise in a file named model.

Take the work we did in the lessons further:

What other types of models (i.e. different classifcation algorithms) could you use?
How do the models compare when trained on term frequency data alone, instead of TF-IDF values?

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import acquire
import prepare

from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = acquire.get_inshorts_articles()
df.head()

,title,author,content,date,category
0,Start demolition of Supertech's 40-storey twin...,Ridham Gambhir,The Supreme Court on Monday ordered that the d...,"07 Feb 2022,Monday",business
1,The focus is on growth and adoption for Digita...,Roshan Gupta,Union Budget 2022 is focused on promoting digi...,"07 Feb 2022,Monday",business
2,"COVID, you did your worst & stole our voice: M...",Sakshita Khosla,Businessman Anand Mahindra on Sunday shared a ...,"06 Feb 2022,Sunday",business
3,"Meta says data regulations may cause Facebook,...",Pragya Swastik,Meta in its annual report to the US SEC said i...,"07 Feb 2022,Monday",business
4,RBI's digital rupee blockchain would be able t...,Pragya Swastik,The digital rupee blockchain being developed b...,"06 Feb 2022,Sunday",business

In [5]:
df = prepare.prep_article_data(df, column='content', extra_words=[], exclude_words=[])
df.head()

,title,author,content,date,category,clean,stemmed,lemmatized
0,Start demolition of Supertech's 40-storey twin...,Ridham Gambhir,The Supreme Court on Monday ordered that the d...,"07 Feb 2022,Monday",business,supreme court monday ordered demolition works ...,suprem court monday order demolit work superte...,supreme court monday ordered demolition work s...
1,The focus is on growth and adoption for Digita...,Roshan Gupta,Union Budget 2022 is focused on promoting digi...,"07 Feb 2022,Monday",business,union budget 2022 focused promoting digital ec...,union budget 2022 focus promot digit economi f...,union budget 2022 focused promoting digital ec...
2,"COVID, you did your worst & stole our voice: M...",Sakshita Khosla,Businessman Anand Mahindra on Sunday shared a ...,"06 Feb 2022,Sunday",business,businessman anand mahindra sunday shared pictu...,businessman anand mahindra sunday share pictur...,businessman anand mahindra sunday shared pictu...
3,"Meta says data regulations may cause Facebook,...",Pragya Swastik,Meta in its annual report to the US SEC said i...,"07 Feb 2022,Monday",business,meta annual report us sec said might stop oper...,meta annual report us sec said might stop oper...,meta annual report u sec said might stop opera...
4,RBI's digital rupee blockchain would be able t...,Pragya Swastik,The digital rupee blockchain being developed b...,"06 Feb 2022,Sunday",business,digital rupee blockchain developed rbi would a...,digit rupe blockchain develop rbi would abl tr...,digital rupee blockchain developed rbi would a...

# Modeling
## TF-IDF

In [10]:
tfidf = TfidfVectorizer()
X = tfidf.fit_transform(df.lemmatized)
y = df.category

In [11]:
pd.DataFrame(X.todense(), columns=tfidf.get_feature_names())

,025,10,1000,10000,100000,101,1023,1074,1100,12,...,year,yen,yet,yield,yolk,yorkers,youtube,zealand,zero,zhang
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,0.0,0.139287,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.21581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=.2)